{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 style="font-family:'Futura PT'; text-align:center;color:cornflowerblue">
    <font size="7">About Me</font>
</h1>

<div align="center" style="border-bottom:inset">
    <b><font color="cornflowerblue">Hello World!</font></b> My name is <font color="cornflowerblue"><b>Rai Pranisha</b></font> I am currently a Year 2 student in Ngee Aann Poly.<br />
    I spend copious amount of time playing The Sims. <br />
    E-mail: <i>raijustrai@gmail.com</i>
    <br />
    <br />
</div>
<br />

<div class="row" style="border-bottom:inset">
    <div class="col-8">
        <h4 style="text-align:left;font-family:'Futura PT';color:cornflowerblue;text-decoration:underline">Education</h4>
        <p>
            <i><b>Ngee Ann Polytechnic</b></i><br />

            Diploma in Information Technology
        </p>

    </div>
    <div class="col-4">
        <h4 style="text-align:left;font-family:'Futura PT';color:cornflowerblue;text-decoration:underline">
            Year
        </h4>
        <p>
            2017-2020
        </p>

    </div>
</div>
<br />


<div class="row" style="border-bottom:inset">
    <div class="col-8">
        <h4 style="text-align:left;font-family:'Futura PT';color:cornflowerblue;text-decoration:underline">Working Experience</h4>
        <p>
            <i> <b>SAP | Events Marketing Intern </i></b>
            <br />

            As an Events Marketing Intern, I learnt skills regarding Project Management and helped
            <br /> spearhead two major projects: SAPPHIRE NOW Orlando 2019 and FKOM 2020.

        </p>

    </div>
    <div class="col-4">
        <h4 style="text-align:left;font-family:'Futura PT';color:cornflowerblue;text-decoration:underline">
            Year
        </h4>
        <p>
            Feburary-September 2020
        </p>

    </div>



</div>
<br />


<div class="row" style="border-bottom:inset">
    <div class="col-8">
        <h4 align="left" style="font-family:'Futura PT';color:cornflowerblue;text-decoration:underline">Skillset</h4>
        <p>
            <i> <b>Soft Skills </i></b>
            <br />
            - Presentation Skills
            <br />
            - Creative
            <br />
            - Team Player
            <br />
            <br />

            <i> <b>Technical Skills </i></b>
            <br />
            - HTML
            <br />
            - Python Programming
            <br />
            - R Programming
            <br />
            - <b>Adobe</b>- Adobe Xd, Adobe Illustrator, Adobe Lightroom
            <br />
            - Excel
            <br />
            - Salesforce




        </p>

    </div>




</div>
<br />



<div class="row" style="border-bottom:inset">
    <div class="col-8">
        <h4 align="left" style="font-family:'Futura PT';color:cornflowerblue;text-decoration:underline">Contact</h4>
        <p>
 



        </p>

    </div>




</div>


{% endblock %}
